@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: 'Source Code Pro', monospace, 'Courier New', Courier;
  background-color: rgb(187, 244, 255);
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.locationHeader {
  margin: 20px 0 10px 20px;
}

.longLat {
  padding: 5px;
  margin: 5px;
}

.alerts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alerts > button {
  padding: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 10px;
  border: 0.5px solid #000;
}

.alerts > button:hover {
  background: rgb(124, 124, 124);
}

.alertsModal,
.myAlerts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alertsModal {
  background-color: rgb(199, 255, 255);
  border: 2px solid #000;
  border-radius: 20px;
  padding: 1rem;
}

.myAlerts > h5,
p {
  padding: 0;
  margin: 10px;
}

.myAlerts > p {
  line-height: 1.5;
}

.currentWeather {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 350px;
  margin: 3rem;
}

.modalBtn {
  margin-top: 10px;
  background: rgb(255, 151, 151);
  border-radius: 10px;
  padding: 10px;
  color: #000;
  font-weight: bold;
}

.weatherDescription,
.weatherTemps {
  margin: 0 2.5rem;
}

.weatherTemps {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-top: 2rem;
}

.weatherTemps > ul {
  list-style-type: none;
}

.weatherTemps > ul > li {
  padding: 5px;
}

.weatherDescription {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.bottomOfPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem;
}

.sunInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.sunInfo > h5 {
  padding: 10px 10px 0;
  margin: 10px 10px 0;
}

.sunInfoList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.sunInfoList > p {
  padding: 0 10px 10px 10px;
}

.forecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  border-top: 1px solid #000;
  padding: 15px;
}

.footer > a:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

.footer > .social {
  height: 60px;
  width: 60px;
}

@media screen and (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
  }

  .location > .locationHeader {
    font-size: 24px;
  }

  .location > .longLat {
    font-size: 12px;
    margin-bottom: 15px;
  }

  .alerts {
    margin-bottom: 1.5rem;
  }

  .currentWeather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-bottom: 1px solid #000;
    height: 475px;
    padding: 0;
  }

  .weatherDescription {
    padding: 10px;
  }

  .bottomOfPage {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
  }
}
