@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: 'Source Code Pro', monospace, 'Courier New', Courier;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.locationHeader {
  margin: 20px 0 10px 20px;
}

.longLat {
  padding: 5px;
  margin: 5px;
}

.alerts > button {
  padding: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 10px;
  border: 0.5px solid #000;
}

.alerts > button:hover {
  background: rgb(124, 124, 124);
}

.currentWeather {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 350px;
  margin: 3rem;
}

.weatherDescription,
.weatherTemps {
  margin: 0 2.5rem;
}

.weatherTemps {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-top: 2rem;
}

.weatherTemps > ul {
  list-style-type: none;
}

.weatherTemps > ul > li {
  padding: 5px;
}

.weatherDescription {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.bottomOfPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem;
}

.sunInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.sunInfo > h5 {
  padding: 10px 10px 0;
  margin: 10px 10px 0;
}

.sunInfoList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.sunInfoList > p {
  padding: 0 10px 10px 10px;
}
